body
{
	font-family: 'Lato', sans-serif;
}
header
{
	padding-bottom: 50px;
}
.top-header
{
	padding: 10px;
	overflow: hidden;

}
.text-thin
{
	font-weight: 100;
	/*font-size: 50px;*/
	color: 
}
.logo img
{
	height: 120px;
	float: left;
	width: 100%;
}
.name
{
	text-align: right;
	color: #838483;
}
.navbar-default
{
	border:none;
}
.navbar-default .navbar-nav > li > a:hover {
	color:  #0065a4;
	background-color: white;
	}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background-color: white;
}
.bottom-header img
{
	display: inline-block;

}
.about 
{
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	height: auto;
	color:#595252;
	margin-bottom: 30px;
	
}
.about p
{
font-size: 16px;
padding: 20px 30px;
}


.review
{
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	color: white;
	padding: 40px;
	margin:30px -15px;
	text-align: center;
}
.box-icon
{
	
	font-size: 40px;

}
 
.box-title
{
	font-size: 35px;
}

.box-text
{
	text-transform: uppercase;
   font-size: 15px;
}


.slider h1
{

font-size: 30px;

}

.owl-carousel {
	direction: ltr;
}

.owl-prev , .owl-next
{
position: absolute;
top:0px;
color: white;

}

.path p {
	font-size: 20px;
    font-weight: bolder;

}



.slid h1
{
	
	padding: 30px;
}
.slider
{
	text-align: center;
	
}
.slider .owl-carousel#sync1 a
{
	text-decoration: none;
}
.slider .owl-carousel#sync1 img
{
	width: 20%;
	height: 100px;
}


.slider .owl-carousel#sync1 .owl-prev 
{
	line-height:100px;
	font-size: 25px;
	left: 18px;
	
}
.slider .owl-carousel#sync1 .owl-next
{
	line-height:100px;
	right: 10px;
	font-size: 25px;
	
	
	}
	.slider .owl-carousel#sync1 .owl-next i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
.slider .owl-carousel#sync1 .owl-prev i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
	.slider .owl-carousel#sync1 .owl-next i ,.slider .owl-carousel#sync1 .owl-prev i{
		background-color:#3a2c2c;
	}
.slider .owl-carousel#sync1 .owl-next i:hover 
{
	background-color: #ffe800;

}
.slider .owl-carousel#sync1 .owl-prev i:hover 
{
	background-color: #ffe800;

}

.scrollator_lane
{
	top:50px;
} 

.modal-footer a

{
	text-decoration: none;
	color: white;
}
.modal-dialog img
{
	height: 200px;
	width: 50%;
}
.contact
{
	
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	margin: 30px 0;
}
.contact h2
{
	padding-bottom: 30px;
}
.contact .message
{
	height:105px;
}
.contact button
{
	background-color: black;
	color: white;
}
.contact button:hover
{
	background-color: black;
	color: white;
}
footer
{
	background-color: black;
	color: white;
	font-size: 30px;
	text-align: center;
}
.footer a
{
	text-decoration: none;
	color: white;
}
footer .copyright
{
	font-size: 10px;
}