@media screen and (max-width: 549px)
{

	.text-thin
	{
		font-size: 40px;
	}
	

}

@media screen and (min-width: 550px){
	.logo img
	{
		width: 80%;
	}
		.text-thin
	{
		font-size: 46px;
	}
	
	



}
@media screen and (min-width: 700px){
	.logo img
	{
		width: 50%;
	}
		.text-thin
	{
		font-size: 35px;
	}

}
@media screen and (min-width: 850px){
	.logo img
	{
		width: 20%;
	}
	

}